*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(#cf671d, #cd2372b0);
    min-height: 100vh;
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#inputTag{
    width: 20vw;
    height: 6vh;
    font-size: 1.2rem;
    padding: .5rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 3rem;
    font-family: 'Ubuntu', sans-serif;
}

#error{
    /* height: 2rem; */
    color: rgb(240, 64, 64);
    display: none;
    font-size: 1rem;
    padding: .5rem;
    margin-bottom: 1rem;
    border-radius: 3rem;
    background: white;
}

/* #container2{
    justify-content: space-around;
} */


#btn1{
    margin-right: 2vw;
}

.btn{
    cursor: pointer;
    height: 2.8rem;
    width: 9vw;
    border: none;
    font-size: 0.9rem;
    background: rgb(126, 180, 64);
    border-radius: 2rem;
    font-family: 'Ubuntu', sans-serif;
}

.todo-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50vw;
    font-size: 1.2rem;
    padding: 1rem;
    margin-top: 1rem;
    border: none;
    border-radius: 3rem;
    background-color: white;
    font-family: 'Ubuntu', sans-serif;
}

.todo-list{
    list-style: none;
    flex: 1;
    font-weight: bold;
}

.checkbtn{
    background-color: #3fb22a;
    color: white;
    border: none;
    width: 2vw;
    height: 4vh;
    font-size: 1rem;
    cursor: pointer;
    border-right: 2.5px solid rgb(236, 142, 34);
}

.trashbtn{
    color: white;
    background-color: rgb(235, 72, 72);
    border: none;
    font-size: 1rem;
    cursor: pointer;
    width: 2vw;
    height: 4vh;
}

.editbtn{
    color: white;
    background-color: rgb(84, 127, 245);
    border: none;
    font-size: 1rem;
    cursor: pointer;
    width: 2vw;
    height: 4vh;
}

.savebtn{
    cursor: pointer;
    height: 2.8rem;
    width: 9vw;
    border: none;
    font-size: 1.5rem;
    border-radius: 2rem;
    font-family: 'Ubuntu', sans-serif;
    background: #3fb22a;
    color: white;
    margin-left: 5.5vw;
}

.completed{
    color: white;
    background-color: rgb(69, 218, 69);
}

.slide{
    opacity: 0;
    transform: translateX(15rem);
    transition: all 0.5s ease-in-out;
}

.edit-input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50vw;
    font-size: 1.2rem;
    padding: 1rem;
    margin-top: 1rem;
    border: none;
    border-radius: 3rem;
    background-color: white;
    font-family: 'Ubuntu', sans-serif;
}